@charset "ISO-8859-1";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.div{
    margin: 20px;
}

form>button{
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

form{
    border: 2px solid black;
    border-radius: 10px;
}

*{
    color: black;
}